{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include "afood/partials/_header.html" %}
<body>

    <div class="bg-dark d-flex justify-content-center align-items-center vh-100 ">
        <div>
          <img src="{% static 'logo.png' %}" alt="website logo" class="logo">
            <div class="bg-white p-3 shadow my-3 rounded">
                <form method="post" class="login-form" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="text" placeholder="Enter your username" class="form-control mb-3 shadow-sm" name="username">
                    <input type="password" placeholder="******" class="form-control mb-3 shadow-sm" name="password">
                    <button class="btn btn-warning" type="submit">login</button>
                    <strong>- or -</strong>
                    <a href="#">Register</a>   
                </form>
            </div>
        </div>
    </div>
    
    {% include "afood/partials/_footer.html" %}
</body>
</html>