{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include "afood/partials/_header.html" %}
<body>

    <div class="bg-dark d-flex justify-content-center align-items-center vh-100 ">
        <div>
          <img src="{% static 'logo.png' %}" alt="website logo" class="logo">
            <div class="bg-white p-3 shadow my-3 rounded">
                <form action="" class="login-form">
                    <input type="text" placeholder="Full name" class="form-control mb-3 shadow-sm">
                    <input type="text" placeholder="Phone number" class="form-control mb-3 shadow-sm">
                    <input type="email" placeholder="Enter your email" class="form-control mb-3 shadow-sm">
                    <input type="password" placeholder="******" class="form-control mb-3 shadow-sm">
                    <button class="btn btn-warning">Register</button>   
                </form>
            </div>
        </div>
    </div>
    
    {% include "afood/partials/_footer.html" %}
</body>
</html>